* { margin: 0px; padding: 0px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0; vertical-align: baseline; }

/** 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ scroll-behavior: smooth; height: 100%; }

body { overflow-x: hidden; height: 100%; min-height: 100vh; font-family: "Poppins Regular"; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

h1, h2, h3, h4, h5, h6 { display: block; font-weight: 700; }

i { vertical-align: middle; }

a, a:visited { cursor: pointer; -webkit-transition: color 300ms ease-in-out; transition: color 300ms ease-in-out; text-decoration: none; }

a:focus, a:visited:focus { outline: thin dotted; }

a:active, a:hover, a:visited:active, a:visited:hover { outline: 0; text-decoration: none; -webkit-transition: color 300ms ease-in-out; transition: color 300ms ease-in-out; }

svg path { -webkit-transition: stroke 300ms ease-in-out, fill 300ms ease-in-out; transition: stroke 300ms ease-in-out, fill 300ms ease-in-out; }

svg:hover path { -webkit-transition: stroke 300ms ease-in-out, fill 300ms ease-in-out; transition: stroke 300ms ease-in-out, fill 300ms ease-in-out; }

input, textarea:focus { outline: 0; }

button { cursor: pointer; }

button:focus { cursor: pointer; outline: 0; }

/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/** 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3. 2. Improve image quality when scaled in IE 7. */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ max-width: 100%; }

/** 1. Correct font size not being inherited in all browsers. 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5, and Chrome. 3. Improve appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/** Address Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 1. Remove default vertical scrollbar in IE 6/7/8/9. 2. Improve readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

@font-face { font-family: "EncodeSans Bold"; src: url("../fonts/EncodeSans/EncodeSans-Bold.ttf") format("truetype"); }

@font-face { font-family: "Poppins Bold"; src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype"); }

@font-face { font-family: "Poppins SemiBold"; src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype"); }

@font-face { font-family: "Poppins Regular"; src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype"); }

.btn { display: inline-block; border-radius: 5px; padding: 13px 17px; color: white; -webkit-transition: background-color 300ms; transition: background-color 300ms; }

.btn.primary { background-color: #ff0068; border: 1px solid #ff0068; }

.btn.primary:hover { -webkit-transition: background-color 300ms; transition: background-color 300ms; background-color: #53e4b0; border-color: #53e4b0; }

.btn.secondary { background-color: #3b55e6; border: 1px dashed #000000; }

.btn.secondary:hover { -webkit-transition: background-color 300ms; transition: background-color 300ms; background-color: #53e4b0; border-color: #53e4b0; }

.link { text-decoration: underline; color: #ff0068; font-size: 16px; font-weight: 600; letter-spacing: -0.24px; background: none; font-family: "Poppins Regular"; -webkit-transition: color 300ms; transition: color 300ms; }

.link:hover { -webkit-transition: color 300ms; transition: color 300ms; color: #53e4b0; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; }

body > section { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

body > section > div { overflow: hidden; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; }

body > section > div > * { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.sidebar { background-color: #081d26; width: 217px; color: rgba(255, 255, 255, 0.5); padding: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.sidebar a { color: rgba(255, 255, 255, 0.5); }

.sidebar .brand { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 50px; }

.sidebar .brand img { margin-right: 15px; }

.sidebar .brand span { color: white; font-size: 23px; font-family: "Poppins Regular"; }

.sidebar .brand span b { font-family: "Poppins SemiBold"; }

.sidebar nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.sidebar nav a { margin-bottom: 24px; font-size: 16px; font-family: "EncodeSans Bold"; }

.sidebar nav a.active, .sidebar nav a:hover { color: white; }

.sidebar > span { margin-top: auto; display: block; }

@media only screen and (max-width: 1200px) { .sidebar { position: fixed; top: 0; bottom: 0; left: -100%; z-index: 10; -webkit-transition: left 300ms; transition: left 300ms; }
  .sidebar.open { -webkit-transition: left 300ms; transition: left 300ms; left: 0; } }

.sidebar.open + .closeSidebar { position: fixed; z-index: 9; background: rgba(0, 0, 0, 0.9); inset: 0; width: 100vw; height: 100vh; display: none; }

@media only screen and (max-width: 1200px) { .sidebar.open + .closeSidebar { display: block; } }

.navbar { border-bottom: 1px solid #f5f5f5; padding: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

@media only screen and (max-width: 1200px) { .navbar { padding: 10px 15px; } }

.navbar .menu-icon-trigger { margin-right: 15px; background: none; display: -webkit-box; display: -ms-flexbox; display: flex; }

@media only screen and (min-width: 1200px) { .navbar .menu-icon-trigger { display: none; } }

.navbar > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.navbar > div .toggle-search { display: none; padding: 5px 10px; background: none; }

.navbar > div .toggle-search svg { -webkit-transform: scale(1.2); transform: scale(1.2); }

@media only screen and (max-width: 768px) { .navbar > div .toggle-search { display: inline-block; } }

.navbar > div .search { position: relative; }

@media only screen and (max-width: 768px) { .navbar > div .search { display: none; } }

.navbar > div .search button { position: absolute; top: 50%; left: 18px; background: none; -webkit-transform: translateY(-40%); transform: translateY(-40%); }

.navbar > div .search input { border: 1px solid #d7d7d7; border-radius: 50px; padding: 10px 20px; padding-left: 44px; width: 315px; -webkit-transition: border-color 200ms; transition: border-color 200ms; }

.navbar > div .search input:focus { border-color: black; -webkit-transition: border-color 200ms; transition: border-color 200ms; }

.navbar > div .search .close { display: none; position: fixed; inset: 0; background-color: rgba(0, 0, 0, 0.9); z-index: -1; }

.navbar > div .search.open { display: block; position: fixed; top: 12px; left: 5px; right: 5px; z-index: 3; }

.navbar > div .search.open input { width: 98vw; }

.navbar > div .search.open button { -webkit-transform: none; transform: none; top: 13px; left: 20px; }

.navbar > div .search.open .close { display: block; }

.navbar > div .add { background-color: #ff0068; border-radius: 5px; padding: 10px; width: 44px; height: 44px; margin-left: 40px; -webkit-transition: background-color 300ms; transition: background-color 300ms; }

.navbar > div .add svg { position: relative; top: 1px; }

.navbar > div .add:hover { background-color: #53e4b0; -webkit-transition: background-color 300ms; transition: background-color 300ms; }

@media only screen and (max-width: 768px) { .navbar > div .add { margin-left: 10px; margin-right: 10px; } }

.navbar > div .bell { background: none; margin-right: 40px; position: relative; padding: 10px; }

.navbar > div .bell svg { width: 28px; height: 28px; }

.navbar > div .bell:hover { background-color: #f5f5f5; border-radius: 50px; }

.navbar > div .bell:after, .navbar > div .bell::before { content: ""; width: 10px; height: 10px; position: absolute; top: 4px; right: 0px; border-radius: 5px; }

.navbar > div .bell:after { background-color: #ff0068; }

.navbar > div .bell::before { top: 8px; right: -4px; background-color: #53e4b0; }

.navbar > div .profile { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.navbar > div .profile img { border-radius: 100px; width: 66px; min-width: 66px; max-width: 66px; height: 66px; min-height: 66px; max-height: 66px; overflow: hidden; margin-right: 18px; }

.navbar > div .profile div h4 { color: #333333; font-weight: bold; font-size: 18px; }

.navbar > div .profile div span { color: #828282; font-size: 14px; }

@media (max-width: 768px) { .navbar > div .profile img { width: 50px; min-width: 50px; max-width: 50px; height: 50px; min-height: 50px; max-height: 50px; margin-right: 10px; } }

@media (max-width: 400px) { .navbar > div .profile div { display: none; } }

.main { overflow: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.main .content { overflow: auto; padding-top: 10px; }

.main .content .header { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-left: 28px; padding-right: 28px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.main .content .header .upload { background: #f5f5f5; border-radius: 5px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; min-width: 250px; margin-bottom: 10px; }

.main .content .header .upload input { display: none; }

.main .content .header .upload label { background: #dcdcdc; border-radius: 5px; width: 63px; min-height: 63px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; cursor: pointer; }

.main .content .header .upload span { font-size: 24px; color: #081d26; padding: 12px 15px; }

@media (max-width: 576px) { .main .content .header .upload { width: 100%; } }

@media (max-width: 576px) { .main .content .header > div:nth-child(2) { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.main .content .header > div:nth-child(2) .price { background: #53e4b0; border-radius: 5px; padding: 16px 25px; color: white; font-weight: 500; font-size: 24px; }

@media (max-width: 576px) { .main .content .header > div:nth-child(2) .price { padding: 8px 12px; } }

.main .content .header > div:nth-child(2) .body input { background: #f5f5f5; border-radius: 5px; padding: 10px; padding-left: 20px; margin-top: 10px; }

.main .content .header > div:nth-child(2) .body input::-webkit-calendar-picker-indicator { background: url(../img/pen.svg) no-repeat; width: 20px; height: 20px; position: relative; top: 6px; cursor: pointer; }

@media (max-width: 576px) { .main .content .header > div:nth-child(2) .body input { margin-top: 0; } }

@media (max-width: 576px) { .main .content .header { padding-left: 10px; padding-right: 10px; } }

.main .content > .details { border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 30px; margin-bottom: 20px; padding-left: 28px; padding-right: 28px; }

.main .content > .details > p { background: #f5f5f5; border-radius: 5px; padding: 15px 20px; font-weight: 600; font-size: 15px; line-height: 30px; margin-top: 30px; margin-bottom: 24px; }

.main .content > .details .service { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 15px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.main .content > .details .service > div { margin-bottom: 10px; }

.main .content > .details .service > div input { background: #f5f5f5; border-radius: 5px; padding: 6px 12px; font-size: 14px; line-height: 21px; width: 100%; }

.main .content > .details .service > div label { color: #081d26; opacity: 0.5; margin-bottom: 7px; text-transform: uppercase; display: block; font-size: 12px; line-height: 18px; font-family: "Poppins SemiBold"; }

.main .content > .details .service > div:not(:last-child) { margin-right: 25px; }

.main .content > .details .service > div:nth-child(1) { width: 296px; }

@media (max-width: 576px) { .main .content > .details .service > div:nth-child(1) { width: 100%; margin-right: 0; } }

.main .content > .details .service > div:nth-child(2) input { width: 120px; }

.main .content > .details .service > div:nth-child(3) input { width: 80px; }

.main .content > .details .service > div:nth-child(4) span { font-size: 16px; line-height: 24px; }

.main .content > .details .new-item { color: #3b55e6; -webkit-text-decoration-line: underline; text-decoration-line: underline; font-weight: bold; letter-spacing: -0.24px; font-size: 12px; line-height: 18px; background: none; }

@media (max-width: 576px) { .main .content > .details { padding-left: 10px; padding-right: 10px; } }

.main .content .total { padding: 28px; padding-top: 0; }

.main .content .total .amount { text-align: right; margin-bottom: 40px; }

.main .content .total .amount .details { max-width: 241px; margin-left: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-weight: 500; font-size: 16px; line-height: 24px; }

.main .content .total .amount .details .col { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 5px; }

.main .content .total .amount .price { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 13px 12px; border: 1px solid #53e4b0; -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.11); box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.11); border-radius: 5px; min-width: 241px; margin-top: 26px; }

.main .content .total .activity { color: #081d26; opacity: 0.5; }

.main .content .total .activity h6 { font-size: 12px; text-transform: uppercase; }

.main .content .total .activity ul { margin-left: 14px; }

.main .content .total .activity ul li { font-size: 10px; line-height: 17px; }

.main footer { margin-top: auto; padding: 27px 22px; border-top: 1px solid rgba(0, 0, 0, 0.1); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.main footer span { color: #3b55e6; font-size: 14px; margin-left: auto; }

.main footer .secondary { margin-right: 15px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.main footer .secondary svg { margin-right: 5px; }

.main footer > div:nth-child(1) { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 15px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media only screen and (max-width: 768px) { .main footer { padding: 10px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .main footer > div:nth-child(1) { width: 100%; margin-bottom: 10px; }
  .main footer > div:nth-child(2) { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .main footer button { line-height: 1.4; padding: 10px; } }

.list { background-color: #f5f5f5; padding: 28px; max-width: 466px; overflow: auto; /* width */ /* Track */ /* Handle */ /* Handle on hover */ }

.list__item { padding: 18px 23px; background-color: white; border: 1px solid #081d26; -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.11); box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.11); border-radius: 5px; }

.list__item:not(:last-child) { margin-bottom: 20px; }

.list__item .header { margin-bottom: 2px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.list__item .header span { margin-left: auto; }

.list__item .header .more { background: none; padding: 10px; width: 30px; height: 30px; border-radius: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; left: 15px; }

.list__item .header .more:hover { background-color: #f5f5f59d; }

.list__item .header .more:active { background-color: #f5f5f5; }

.list__item .body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.list__item .body span { color: #081d26; opacity: 0.5; font-size: 13px; }

.list__item .body p { max-width: 256px; font-size: 14px; line-height: 18px; }

.list__item.close { border-color: #ff0068; }

.list__item .close { color: #ff0068; background: none; margin-left: auto; display: block; }

.list > .close-list { display: none; background-color: white; border-radius: 5px; margin-bottom: 10px; text-align: center; padding: 10px; -webkit-transition: color 200ms, background-color 200ms; transition: color 200ms, background-color 200ms; }

.list > .close-list:hover { background-color: #555; color: white; cursor: pointer; -webkit-transition: color 200ms, background-color 200ms; transition: color 200ms, background-color 200ms; }

.list::-webkit-scrollbar { width: 7px; }

.list::-webkit-scrollbar-track { background: #f1f1f1; }

.list::-webkit-scrollbar-thumb { background: #e4e4e4; }

.list::-webkit-scrollbar-thumb:hover { background: #555; }

@media only screen and (max-width: 992px) { .list { position: fixed; left: -100%; top: 0; bottom: 0; z-index: 3; -webkit-transition: left 300ms; transition: left 300ms; }
  .list > .close-list { display: block; } }

.list.open { left: 0; -webkit-transition: left 300ms; transition: left 300ms; }

.list + .close-list { display: none; position: fixed; inset: 0; background-color: rgba(0, 0, 0, 0.8); z-index: 0; }

.list.open + .close-list { display: block; }

.open-list { margin-right: 10px; background-color: #3b55e6; padding: 5px 15px; border-radius: 5px; color: white; cursor: pointer; -webkit-transition: background-color 300ms; transition: background-color 300ms; }

.open-list:hover { -webkit-transition: background-color 300ms; transition: background-color 300ms; background-color: #53e4b0; }

@media only screen and (min-width: 992px) { .open-list { display: none; } }
/*# sourceMappingURL=style.css.map */