.sidebar {
  background-color: #081d26;
  width: 217px;
  color: rgba(255, 255, 255, 0.5);
  padding: 32px;
  display: flex;
  flex-direction: column;
  a {
    color: rgba(255, 255, 255, 0.5);
  }
  .brand {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    img {
      margin-right: 15px;
    }
    span {
      color: white;
      font-size: 23px;
      font-family: "Poppins Regular";
      b {
        font-family: "Poppins SemiBold";
      }
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 24px;
      font-size: 16px;
      font-family: "EncodeSans Bold";
      &.active,
      &:hover {
        color: white;
      }
    }
  }
  & > span {
    margin-top: auto;
    display: block;
  }

  @media only screen and (max-width: 1200px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 10;
    transition: left 300ms;
    &.open {
      transition: left 300ms;
      left: 0;
    }
  }
}

.sidebar.open + .closeSidebar{
  position: fixed;
  z-index: 9;
  background: rgba(black, 0.9);
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  @media only screen and (max-width: 1200px) {
    display: block;
  }
}
